$header-height: 5rem;

$default-border-radius: .3rem;

$button-width: 10rem;
$button-height: 2.4rem;

$dialog-width: 40vw;
$dialog-height: 70vh;
$dialog-margin: 5vh  calc((100vw - #{$dialog-width}) / 2);
$dialog-top: 5vh;