@import '@app/_scss/_colors.scss';

.dialog {
    position: relative;
    height: 100%;
    padding: 1rem;
}

.cancel {
    background-color: $red;
}

.save {
    background-color: $green;
    margin-left: 1rem;
}

.save, .cancel {
    text-align: center;
    text-transform: uppercase;
    span {
        margin: 0;
    }
}

.dialogFooter {
    display: flex;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}

.formInput {
    height: 3rem;
    line-height: 3rem;
}